<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>お問い合わせ</title>
  <style>
    body {
        background-color: #EFECEC;
    }
    .inquiry {
        position: absolute;
        width: 90%;
        height: 80%;
        padding: 20px 25px 60px 25px;
        left: 20px;
        top: 20px;
        background: #FFFFFF;
    }
    p{
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
  </style>
</head>
<body>
  <div class="inquiry">
    <p><%= @staff_name %>さん、</p>
    <p><b><%= @title %></b></p>
    <p><%= @content %></p>
    <p>よろしくお願いいたします。</p>
</div>
</body>
</html>