
  <div class="container" style="padding-bottom: 320px; padding-top: 90px;">
    <p class="fs-3 fw-normal text-center pt-3">スマートロック開錠方法</p>
    <div class="row">
      <div class="col-12 col-md-6 pt-2">
        <p class="fs-5 fw-normal text-center">スマートロック開錠方法</p>
        <div class="ratio ratio-4x3 text-center">
          <iframe src="https://www.youtube.com/embed/97L1XCEdzKc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
          </iframe>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-2">
        <p class="fs-5 fw-normal text-center">スマートロック暗証番号開錠方法</p>
        <div class="ratio ratio-4x3 text-center">
          <iframe src="https://www.youtube.com/embed/g9Tx5uSQM8A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
          </iframe>
        </div>
      </div>
    </div>
  </div>